.contact-container {
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 15px;
    color: #2c3e50;
}

.contact-info {
    margin: 20px 0;
    color: #555;
}

.contact-form {
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea, 
.contact-form button{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact-form button {
    padding: 10px 25px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #2e59d9;
}