* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;

}

.container {
    width: 90%;
    max-width: 1000px;
    min-height: 90vh;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #007bff;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}

.message-box {
    max-width: 300px;
    word-wrap: break-word;
}

.btn-delete {
    padding: 6px 12px;
    background: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}

.btn-delete:hover {
    background: #a71d2a;
}